<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <header>
        <a href="/" class="home-btn" title="На главную">
            <img src="/static/svgs/home.svg" alt="Home">
        </a>
    </header>

    <div class="mission-container">

    <div class="mission-header-row">
        <div class="mission-main-info">
            <h1 class="mission-title">Проект: {{ .Mission.SatelliteName }}</h1>
            <p class="mission-mass">Масса аппарата: <b>{{ .Mission.SatelliteMassKg }} кг</b></p>
        </div>
        <div class="calculation-column">
            <p class="mission-velocity">Расчетная скорость аппарата: <b class="calc-value green">{{ .Mission.CalculatedVelocity }} кг</b></p>
            <p class="mission-period">Расчетный период вращения аппарата: <b class="calc-value orange">{{ .Mission.CalculatedPeriod }} кг</b></p>
        </div>
    </div>

    <h2 class="section-title">План миссии (Этапы):</h2>

    <div class="orbit-mission-table-card">
        <div class="orbit-misssion-table-header">
            <div class="orbit-misssion-col-visual"> Вид</div>
            <div class="orbit-misssion-col-stage">Этап</div>
            <div class="orbit-misssion-col-orbit">Орбита</div>
            <div class="orbit-misssion-col-payload">Задачи этапа</div>
            <div class="orbit-misssion-col-resource">ΔV</div>
        </div>

        {{ $base := .MinioURL }}
        {{ range .Mission.SelectedOrbits }}
        <div class="orbit-misssion-table-row">
            <div class="orbit-misssion-col-visual">
                <img src="{{ $base }}{{ .Orbit.ImageKey }}" alt="orbit">
            </div>
            
            <div class="orbit-misssion-col-stage">
                <span class="orbit-misssion-stage-badge">{{ .StageOrder }}</span>
            </div>

            <div class="orbit-misssion-col-orbit">
                <div class="orbit-name">{{ .Orbit.Name }}</div>
                <div class="orbit-meta">H = {{ .Orbit.AltitudeKm }} км</div>
            </div>

            <div class="orbit-misssion-col-payload">
                {{ .PayloadDescription }}
            </div>

            <div class="orbit-misssion-col-resource">
                <span class="calc-value red">{{ .DeltaV }}</span> км/с
            </div>
        </div>
        {{ end }}
    </div>
</div>
</div>
</body>
</html>